---
name: KICS

permissions: read-all

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
# Steps represent a sequence of tasks that will be executed as part of the job
jobs:
  kics:
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5
      - name: Mkdir results-dir
        # make sure results dir is created
        run: mkdir -p results-dir
      # Scan Iac with kics
      - name: run kics Scan
        uses: checkmarx/kics-github-action@e01759d524f8abd5bd650d3d5bd4b96d46ebbc1d
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: "."
          ignore_on_exit: results
          enable_comments: true
          output_path: results-dir
          output_formats: "json,sarif" # Display the results in json format
      - name: Show results
        run: |
          cat results-dir/results.sarif
          cat results-dir/results.json
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@ce729e4d353d580e6cacd6a8cf2921b72e5e310a
        with:
          sarif_file: results-dir/results.sarif
