---
name: KICS

permissions: read-all

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:
# Steps represent a sequence of tasks that will be executed as part of the job
jobs:
  kics:
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6
      - name: Mkdir results-dir
        # make sure results dir is created
        run: mkdir -p results-dir
      # Scan Iac with kics
      - name: run kics Scan
        uses: checkmarx/kics-github-action@63fca4ca72e56edbb5a599ee756e6af1fdb1e785
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          path: "."
          ignore_on_exit: results
          enable_comments: true
          output_path: results-dir
          output_formats: "json,sarif" # Display the results in json format
      - name: Show results
        run: |
          cat results-dir/results.sarif
          cat results-dir/results.json
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89
        with:
          sarif_file: results-dir/results.sarif
